<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body ng-app="directoryApp">
		<div class="container">
			<div class="row">
				<h1>UF Directory App</h1>
			</div>
			
			<!-- Main division using the controller -->
			<div class="row" ng-controller="ListingsController">
				<div class="col-md-6">
					<div class="input-group" id="searchBar">
						<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
						
						<!--Search bar: implement 'filterObj' object used to filter listings -->
						<input type="text" class="form-control" placeholder="Search" ng-model="filterObj.$">
					</div>
					
					<!-- Table displaying existing listings -->
					<div class="tableWrapper">
						<table class="table table-striped table-hover">
							<!-- Table header row -->
							<tr>
								<th>Code</th>
								<th>Building Name</th>
								<th></th>
							</tr>
							
							<!-- Table entry row -->
							<tr ng-repeat="listing in listings | filter : filterObj | orderBy : 'code' as filteredListings" ng-click="showDetails($index)">
								<td class="ListingCode">{{ listing.code }}</td>
								<td>{{ listing.name }}</td>
								
								<!-- Button for listing deletion -->
								<td><button ng-click="deleteListing($index)">X</button></td>
							</tr>
						</table>
					</div>
				</div>
				
				<!-- Detailed listing section -->
				<div class="col-md-6">
					<div class="jumbotron">
						<h2 class="detailText-header">Detailed Information
							<p ng-model="detailedInfo">
								<p class="detailText" >Code: {{ detailedInfo.code }}</p>
								<p class="detailText" >Name: {{ detailedInfo.name }}</p>
								<p class="detailText" >Address: {{ detailedInfo.address }}</p>
								<p class="detailText" >Coordinates: {{ detailedInfo.coordinates.latitude | number:5 }},
									{{ detailedInfo.coordinates.longitude | number:5 }}</p>
							</p>
						</h2>
					</div>
				</div>
				
				<!-- Form for adding a new Listing -->
				<div class="newListingForm-container">
					<h3>Create a New Listing</h3>
					<form>
						<p class="newListingForm-text">Code: <input class="newListingForm-box" type="text" name="Input_Code" ng-model="templ.code"></p>
						<p class="newListingForm-text">Building Name: <input class="newListingForm-box" type="text" name="Input_Name" ng-model="templ.name"></p>
						<p class="newListingForm-text">Building Address: <input class="newListingForm-box" type="text" name="Input_Addr" ng-model="templ.address"></p>
						<p class="newListingForm-text">Building Coordinates:</p>
						<p class="newListingForm-text">Latitude: <input class="newListingForm-box" type="number" step="0.00001" name="Input_Ltt" ng-model="templ.coordinates.latitude"> Longitude: <input class="newListingForm-box" type="number" step="0.00001" name="Input_Lng" ng-model="templ.coordinates.longitude"></p>
						<button ng-click="addListing()">Create Listing</button>
					</form>
				</div>
			</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
		<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="listingController.js"></script>
		<script src="listingFactory.js"></script>
	</body>
</html>